
.about {  
    display: flex;
    justify-content: stretch;
    flex-direction: column;
  }
  
  .about--title {
    color: var(--main);
    font-size: 80px;
    text-align: center;
    width: 100%;
    font-style: italic;
  }
  
  .about--content {
    color: var(--main);
    padding: 20px;
    text-align: left;
    font-size: 15px;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .about--image {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--main);
    margin-bottom: 20px;
  }
  
  .about--image img{
    width: auto;
    height: inherit;
  }
  