
.home {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  
  .home--content {
    color: var(--main);
    font-family: 'Roboto';
    font-style: italic;
    text-align: right;
    padding: 10%;
    height: 100%;
    font-size: 25px;
    position: relative;
  }
  
  .home--content--generated {
    border-right: 2px solid var(--main);
    padding-right: 3px;
    animation: blink .5s step-end infinite alternate;
    width: fit-content;
    margin-left: auto;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }