.komine {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 200px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
  
    color: var(--secondary);
}
  
.komine--header {
    text-align: left;
    font-size: 7px;
    padding: 4px;
    height: 100%;
    border: 1px solid var(--secondary);
    border-bottom: none;
    height: 20px;
}
  
.komine--body {
    border: 1px solid var(--secondary);
    height: 200px;
    padding: 3px;
  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
  
.komine--body-title {
    font-size: 8px;
    margin-bottom: 3px;
}

.komine--body-code {
    width: 100%;
    font-size: 10px;
    border-top: 1px solid var(--main);
    overflow: hidden;
    padding-top: 1px;
}

.komine--body-code-animated {
    animation: code 8s infinite linear;
}

.komine--body-code-animated:hover {
    animation-play-state: paused;
}

@keyframes code{
    0% {
      transform: translateX(100%);
    } 100% {
      transform: translateX(-50%);
    }
  }
  

.komine--body-map {
    border: 1px solid var(--secondary);
    height: 100%;
}